<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col mx-auto">
      <i class='uil uil-cog' routerLink="/settings"></i>
      <h1 class="text-center">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </h1>
      <span *ngIf="user$ | async as user">{{ user.name }}</span>
      <img class="img-fluid" [src]="getMySkinHeadUrl()" alt="Player avatar">
      <button class="btn btn-primary" (click)="play()">Play</button>
    </div>
  </div>
</div>
