@import 'custom';

@font-face {
  font-family: 'SF Display';
  src: url("./assets/fonts/SFDisplay-Regular.woff");
}

@font-face {
  font-family: 'Minecraftia';
  src: url("./assets/fonts/Minecraftia-Regular.ttf");
}
